* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  max-width: 100%;
}
.Navbar {
  background-color: cornflowerblue;

}

.info {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.logoNavBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.logolinks {
  height: 5vh;
  opacity: 0.8;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.logolinks:hover {
  height: 100px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  perspective: 500px;
  transform: perspective(500px) rotateY(35deg) rotateX(25deg);
}
.list_item {
  display: flex;
  justify-content: space-between;
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mypic {
  width: 500px;
  opacity: 0.9;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.pic1 {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 29px;
  border-style: dashed;
}
.fullname {
  text-align: center;
  padding-top: 10px;
}

.item_list {
  list-style-type: none;
}

a:hover {
  color: whitesmoke;
}
.main {
  height: 100vh;
  width: 100vw;
  background-image: url(./mypicture.png);
  background-repeat: no-repeat;
  background-size: cover;

}
.dmain {
  text-align: center;
  padding-top: 40%;
}
.about {
  text-align: center;

  font-size: normal;
  background-color: darkgray;
  padding-bottom: 10px;
}
#about {
  color: aliceblue;
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}
.about_child {
  margin-top: 40px;
  text-align: center;
}
.who{
  padding-left: inherit;
  padding-right: inherit;
  text-align: center;
  font-size: smaller;


}
.categories {
    font-size: 3vh;
    text-align: center;
    color: white;
    background: -webkit-linear-gradient(#7966FF, #00CCCC);
    opacity: 0.5;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}
.row img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 5px #ddd;
}
footer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vh;
    color: white;
    text-align: center;
    overflow-x: hidden;
    position: static;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
}


